.button {
  width: 276px;
  height: 59px;
  background: @color-green;
  border: 2px solid @color-green;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @color-white;
  text-transform: uppercase;
}
