.contacts {
  min-height: 614px;
  background-image: url("../img/triangle_white.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  padding-top: 18px;


  h3 {
    font-weight: 300;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 35px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 11px;

    h3 {
      font-size: 40px;
      line-height: 54px;
      margin-bottom: 14px;
      margin-top: 34px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;

    h3 {
      font-weight: 400;
      font-size: 50px;
      line-height: 68px;
      margin-bottom: 46px;
    }
  }
}

.contacts__list {
  .ul_style();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.contacts__item {
  width: 241px;
  margin: auto;

  p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: -1px;
  }

  a {
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: @color-pink;
    display: block;
  }

  .contacts__item-mail {
    cursor: pointer;

    &:hover {
      color: @color-text-black;
    }

    &:focus {
      opacity: 0.3;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;

    p {
      margin-bottom: 3px;
    }

    &:nth-child(1) {
      width: 1fr;
      padding-right: 9px;
    }

    &:nth-child(2) {
      width: 1fr;
      padding-left: 14px;
    }

    &:nth-child(3) {
      width: 2fr;
    }
  }

  @media (min-width: @desktop-width) {
    &:nth-child(1) {
      width: 1fr;
      margin-top: 0;
      margin-left: 30px;
    }

    &:nth-child(2) {
      width: 1fr;
      order: 3;
      margin-top: 0;
      margin-left: 51px;
    }

    &:nth-child(3) {
      width: 1fr;
      margin-left: 49px;
    }

    p {
      margin-bottom: 20px;
      margin-top: -6px;
    }

    a {
      font-weight: 400;
    }
  }
}

.contacts__item-address {
  cursor: default;

  address {
    font-style: normal;
  }
}

.contacts__item-phone-number {
  cursor: pointer;

  &:hover {
    color: @color-text-black;
  }

  &:focus {
    opacity: 0.3;
  }
}
