.map {
  position: relative;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 235px;

  @media (min-width: @tablet-width) {
    height: 374px;
  }

  @media (min-width: @desktop-width) {
    height: 502px;
  }
}

.map__adaptive {
  width: 100%;
  height: 100%;
}

.map__triangle {
  position: absolute;
  top: 0;
  width: 320px;
  height: 70px;

  @media (min-width: @tablet-width) {
    & svg {
      width: 660px;
      height: 65px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    height: 70px;
    top: -147px;

    & svg {
      width: 100%;
      height: auto;
    }
  }
}
