.modal-sent {
  display: none;
  position: fixed;
  overflow: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: @color-white;
  min-height: 380px;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 5px;

  @media (min-width: @tablet-width) {
    width: 460px;
    margin: 0 auto;

    .modal-sent__wrapper {
      width: 100%;
      margin: 0;
      padding: 0 82px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    min-height: 0;

    .modal-sent__wrapper {
      width: 100%;
      margin: 0;
      padding: 0 162px;
    }
  }
}

.modal-sent__heading {
  padding-top: 44px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 26px;
  color: @color-hard-black;
}

.modal-sent__description {
  width: 266px;
  padding-right: 27px;
  padding-left: 27px;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 100%;

    & br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 100%;
  }
}

.modal-sent__wrapper-close {
  box-sizing: border-box;
  width: 320px;
  height: 163px;
  background: @color-grey;
  border-radius: 0 0 1px 1px;
  padding-top: 52px;

  @media (min-width: @tablet-width) {
    background: @color-grey;
    width: 460px;

    & .modal-sent__button {
      width: 295px;
    }
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 100%;

    & .modal-sent__button {
      width: 456px;
    }
  }
}
