.modal-sent {
  min-height: 380px;

  .modal-sent__heading {
    padding-top: 44px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 37px;
    color: @color-hard-black;
  }

  .modal-sent__description {
    width: 266px;
    padding-right: 27px;
    padding-left: 27px;
  }

  .modal-sent__wrapper-close {
    box-sizing: border-box;
    width: 320px;
    height: 163px;
    background: @color-grey;
    border-radius: 0 0 1px 1px;
    padding-top: 52px;
  }
}
