.offer {
  background: @color-white;
}

.offer__tagline {
  width: 100%;
  min-height: 250px;
  padding: 46px 20px 70px 20px;
  box-sizing: border-box;
  background: linear-gradient(170deg, @color-white 80%, @color-grey 20%);

  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 120%;
  }
}

.offer__list {
  min-height: 828px;
  .ul_style();
  background-color: @color-grey;
  background-image: url("../img/phone_smile.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
  margin-top: -16px;
}

.offer-list__item {
  width: 280px;
  height: 96px;
  margin: auto;
  margin-bottom: 43px;
}

.offer__header {
  font-weight: 700;
}
