.page-header {
  background-image: url("/img/phone_in_arm.png"), url("/img/back-mobile.jpg");
  background-color: #092a43;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: bottom, center;
  min-height: 462px;
  color: @color-white;
}

.main-nav {
  height: 66px;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 20px;
}

.main-nav__toggle {
  position: absolute;
  top: 21px;
  right: 20px;
  border: none;
  background-color: transparent;
}

.main-nav__tagline {
  position: absolute;
  margin: 0 auto;
  top: 65px;
  left: 20px;
  width: 280px;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 120%;
}
