.page-main__catalog-form {
  min-height: 880px;
  margin-top: 49px;
}

.page-main__catalog-button {
  width: 280px;
  height: 55px;
  border: 3px solid @color-pink;
  box-sizing: border-box;
  border-radius: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: @color-pink;
}

.page-main__catalog-button:first-of-type {
  margin-bottom: 12px;
}

.page-main__catalog-button:last-of-type {
  margin-bottom: 41px;
}

.page-main__download {
  background-color: @color-black;
  height: 271px;
  padding-top: 49px;
  box-sizing: border-box;

  p {
    width: 280px;
    color: @color-white;
    font-weight: 300;
    margin: auto;
  }
}

.page-main__button-download {
  width: 280px;
  height: 55px;
  text-decoration: none;
  color: @color-white;
  border: 3px solid @color-white;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 13px 31px 13px 30px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
}

.page-main__download-list {
  .ul_style();
  display: flex;
  flex-wrap: wrap;
}

.page-main__apple {
  margin: 50px 18px 10px 58px;
}

.page-main__android {
  margin: 55px 18px 10px 17px;
}

.page-main__microsoft {
  margin: 57px 58px 10px 17px;
}

.page-main__user-achievements {
  height: 604px;
  background-color: @color-grey;
  padding-top: 42px;
  box-sizing: border-box;

  fieldset {
    border: none;
  }
}

.page-main__heading {
  width: 218px;
  color: @color-pink;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 55px;
}

.page-main__article {
  width: 280px;
  margin: 0 auto;
}

.page-main__user-comment {
  min-height: 464px;
  padding-top: 42px;
  box-sizing: border-box;

  fieldset {
    border: none;
  }

  .page-main__heading {
    line-height: 18px;
    color: @color-pink;
    width: 184px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
}

.page-main__submit {
  margin-bottom: 42px;
}

.page-main__required {
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 66px;

  span {
    color: @color-pink;
  }
}

.page-main__user-contacts {
  min-height: 287px;

  fieldset {
    border: none;
  }
}
