.page-header-form {
  background-image: url("../img/back-mobile.jpg");
  background-color: @color-background-black;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 462px;
  color: @color-white;
}

.page-header-form__competition {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  width: 228px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 495px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: @desktop-width) {
    width: 747px;
    font-size: 50px;
    line-height: 68px;
  }
}
