.page-header {
  background-image: url("../img/back-mobile.jpg");
  background-color: @color-background-black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: 733px;
  color: @color-white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/back-mobile@2x.jpg");
    background-size: cover;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/back_tablet.jpg");
    min-height: 729px;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr, 1fr;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/back_desktop.jpg");
    min-height: 853px;
    background-size: cover;
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/back_desktop@2x.jpg");
      background-size: cover;
    }
  }
}

.page-header__users-foto-header {
  width: 172px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;

  @media (min-width: @tablet-width) {
    width: 357px;
    font-size: 50px;
    line-height: 68px;
    margin-top: 8px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    margin-top: 42px;
  }
}

.page-header--nojs {
  background-position: 50% 62%, center;
}

.page-header__wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 66px;

  @media (min-width: @tablet-width) {
    height: 110px;

    & .content-wrapper {
      min-height: 158px;
    }
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    min-height: 110px;
  }
}

.page-header__users-header-wrapper {
  margin-bottom: 20px;
}

.page-header__download-content-wrapper {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.page-header__tagline {
  box-sizing: border-box;
  margin: auto;
  padding-top: 26px;
  width: 280px;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    margin: 0;
    margin-left: 48px;
    margin-right: 48px;
    width: 206px;
    font-size: 40px;
    padding-top: 20px;
    box-sizing: border-box;
  }

  @media (min-width: @desktop-width) {
    width: 295px;
    margin-left: 0;
    font-size: 50px;
    line-height: 68px;
    font-weight: 400;
    padding-top: 33px;
  }
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 17px;
  z-index: 2;
  width: 74px;
  height: 23px;

  @media (min-width: @tablet-width) {
    top: 26px;
    left: 20px;
  }

  @media (min-width: @desktop-width) {
    left: 0;
  }

  &:hover .page-header__logo-phone,
  &:hover .page-header__logo-tablet,
  &:hover .page-header__logo-desktop {
    fill: @color-pink;
  }

  &:active .page-header__logo-phone,
  &:active .page-header__logo-tablet,
  &:active .page-header__logo-desktop {
    fill: @color-white;
    fill-opacity: 0.3;
  }
}

.page-header__logo-phone {
  fill: @color-white;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: inline;
    fill: @color-white;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__logo-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: inline;
    fill: @color-white;
  }
}

.page-header__download-wrapper {
  background-color: @color-black;

  @media (min-width: @tablet-width) {
    background-color: transparent;
  }
}

.page-header__download-wrapper-tagline {
  min-height: 500px;
  background-image: url("../img/phone_in_arm.png");

  background-repeat: no-repeat;
  background-size: 320px 286px;
  background-position: 50% 29%;
  color: @color-white;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/phone_in_arm@2x.png");
    background-size: 320px 286px;
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/phone_in_arm_tablet.png");
    min-height: 473px;
    background-size: 660px 545px;
    background-position: 50% 100%;
    display: grid;
    grid-template-columns: 1fr, 1fr;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone_in_arm_tablet@2x.png");
      background-size: 660px 545px;
    }
  }

  @media (min-width: @desktop-width) {
    min-height: 609px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;

    background-image: url("../img/phone_in_arm_desktop.png");
    background-size: 1050px 645px;
    background-position: -16% 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone_in_arm_desktop@2x.png");
      background-size: 1050px 645px;
    }
  }
}


.page-header__download {
  bottom: 10px;
  background-color: @color-black;
  height: 267px;
  padding-top: 41px;
  box-sizing: border-box;
  margin-top: 319px;

  p {
    width: 280px;
    color: @color-white;
    font-weight: 300;
    margin: auto;
  }

  @media (min-width: @tablet-width) {
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    background: none;
    grid-column: 1/2;
    margin: 0;
    padding-top: 0;
    margin-top: -52px;

    p {
      font-size: 18px;
      width: 308px;
      font-weight: 400;
    }
  }
}

.page-header__button-download {
  width: 280px;
  height: 55px;
  text-decoration: none;
  color: @color-white;
  border: 3px solid @color-white;
  box-sizing: border-box;
  border-radius: 39px;
  padding: 13px 35px 13px 35px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;

  &:hover {
    color: @color-pink;
    background-color: @color-white;
  }

  &:focus {
    color: rgba(210, 40, 86, 0.3);
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 76px;
  }
}

.page-header__download-list {
  .ul_style();
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    margin-bottom: -85px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 31px;
  }
}

.page-header__apple {
  margin: 46px 1px 10px 39px;

  @media (min-width: @tablet-width) {
    margin: -8px 1px 8px 46px;
  }
}

.page-header__android {
  margin: 52px 35px 10px 34px;

  @media (min-width: @tablet-width) {
    margin: -6px 35px 8px 34px;
  }
}

.page-header__microsoft {
  margin: 57px 30px 10px 0;

  @media (min-width: @tablet-width) {
    margin: -2px 30px 8px 0;
  }
}

.page-header__content-wrapper {
  @media (min-width: @desktop-width) {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 189px;
  }
}
