.page-footer {
  width: 320px;
  min-height: 284px;
  background-color: @color-white;
  margin: auto;

  @media (min-width: @tablet-width) {
    width: 660px;
    min-height: 127px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    min-height: 197px;
  }
}

.page-footer__logo {
  margin-bottom: 30px;
  padding-top: 19px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    padding-right: 58px;
    padding-top: 34px;
    width: 33%;
  }

  @media (min-width: @desktop-width) {
    width: 313px;
    padding-right: 163px;
  }
}

.page-footer__logo-form {
  padding-top: 41px;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 14px;
    width: 313px;
  }
}

.page-footer__logo-catalog {
  padding-top: 39px;

  @media (min-width: @tablet-width) {
    padding-top: 6px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 70px;
  }
}

.page-footer__logo-pink {
  fill: @color-text-black;

  &:hover {
    fill: @color-pink;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__lists {
  .ul_style();
  display: flex;
  flex-wrap: wrap;
  min-height: 100px;
}

.page-footer__social {
  min-height: 100px;

  @media (min-width: @tablet-width) {
    width: 33%;
    padding-top: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    padding-top: 15px;
    padding-left: 54px;
  }
}

.page-footer__social-catalog {
  @media (min-width: @tablet-width) {
    padding-top: 10px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 71px;
  }
}

.page-footer__lists-item {
  width: 48px;
  height: 48px;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border: 3px solid @color-text-black;
  }

  &:active {
    border: 3px solid rgba(40, 54, 69, 0.1);

    & path {
      fill-opacity: 0.3;
    }
  }
}

.page-footer__lists-item:nth-child(1) {
  margin-left: 51px;

  @media (min-width: @tablet-width) {
    margin-left: 16px;
  }
}

.page-footer__lists-item:nth-child(2) {
  margin: 0 9px 0 8px;
}

.page-footer__htmlacademy-logo {
  display: flex;
  padding-right: 190px;

  p {
    width: 50%;
    margin-left: 74px;
    margin-top: 2px;
  }

  a {
    width: 50%;
  }

  @media (min-width: @tablet-width) {
    width: 33%;
    padding-top: 47px;
    padding-right: 0;

    a {
      width: 0;
    }

    p {
      margin-right: 8px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 261px;

    p {
      font-size: 18px;
      line-height: 18px;
      margin-left: 0;
    }
  }
}

.page-footer__htmlacademy-logo-form {
  padding-right: 56px;
  margin-top: -7px;

  @media (min-width: @tablet-width) {
    margin-top: 30px;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    padding-top: 27px;
  }
}

.page-footer__htmlacademy-logo-sprite {
  fill: @color-pink;
}

.page-footer__htmlacademy-logo-link {
  &:hover {
    .page-footer__htmlacademy-logo-sprite {
      fill: @color-text-black;
    }
  }

  &:active {
    .page-footer__htmlacademy-logo-sprite {
      fill-opacity: 0.3;
    }
  }
}

.page-footer__htmlacademy-logo-catalog {
  padding-right: 56px;

  @media (min-width: @tablet-width) {
    padding-right: 0;
    padding-top: 18px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 86px;
  }
}

.page-footer__wrapper {
  @media (min-width: @tablet-width) {
    width: 660px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
  }
}
