.page-header-catalog {
  background-image: url("../img/back-mobile.jpg");
  background-color: #092a43;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  min-height: 462px;
  color: @color-white;
  margin-bottom: 54px;
}
