.page-header {
  background-image: url("../img/phone_in_arm.png"), url("../img/back-mobile.jpg");
  background-color: #092a43;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, auto;
  background-position: bottom, center;
  min-height: 462px;
  color: @color-white;

  @media (min-width: @tablet-width) {
    height: 729px;
  }

  @media (min-width: @desktop-width) {
    height: 853px;
  }
}

.page-header__logo {
  position: absolute;
  top: 22px;
  left: 20px;
}
