.range-controls__scale {
  width: 240px;
  height: 2px;
  background-color: @color-text-black;
  position: relative;
  top: 32px;
  left: -2px;

  @media (min-width: @tablet-width) {
    width: 203px;
    left: 22px;
    top: 12px;
  }

  @media (min-width: @desktop-width) {
    width: 287px;
    left: 42px;
  }
}

.range-controls__toggle {
  position: absolute;
  width: 14px;
  height: 14px;
  background: @color-white;
  border: 2px solid @color-pink;
  box-sizing: border-box;
  border-radius: 50%;
  top: -5px;
  left: 81%;

  &:active {
    background-color: @color-pink;
  }
}

.range-controls__toggle-fill {
  @media (min-width: @tablet-width) {
    left: 14%;
  }

  @media (min-width: @desktop-width) {
    left: 10%;
  }
}

.range-controls__toggle-contrast {
  @media (min-width: @tablet-width) {
    left: 48%;
  }

  @media (min-width: @desktop-width) {
    left: 48%;
  }
}

.range-controls__toggle--active {
  background-color: @color-white;
}
