.reviews__list {
  .ul_style();
  margin-bottom: 44px;
}

.reviews__item {
  width: 280px;
  min-height: 160px;
  margin: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;

    .reviews__item-title {
      order: 2;
    }
  }
}

.reviews__wrapper {
  background: linear-gradient(175deg, @color-white 90%, @color-grey 10%);
}
