.reviews__list {
  .ul_style();
  margin-bottom: 44px;
}

.reviews__item {
  width: 280px;
  min-height: 160px;
  margin: auto;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 620px;

    .reviews__item-title {
      order: 2;
      margin: 0 auto;
    }
  }
}

.reviews__wrapper {
  background: linear-gradient(175deg, @color-white 90%, @color-grey 10%);

  @media (min-width: @desktop-width) {
    box-sizing: border-box;
    padding-top: 193px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-position: 431px 72px;
    left: 50%;
  }
}

.reviews__item-discription {
  & br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    & br {
      display: inline;
    }
  }
}

.reviews__title-caption {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    width: 500px;
    order: 3;
    margin: 17px auto;
  }
}

.reviews__toggle {
  margin-right: 19px;
  width: 6px;
  height: 6px;
  background: @color-text-black;
  border-radius: 50%;
  border: 1px solid @color-text-black;
  opacity: 0.3;
  padding: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.1;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.reviews__toggle--current {
  border: 3px solid @color-text-black;
  background-color: @color-white;
  opacity: 1;
  cursor: pointer;
}
