.user-contacts {
  @media (min-width: @tablet-width) {
    order: 1;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;

    .content-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.user-contacts__container {
  @media (min-width: @desktop-width) {
    width: 100%;
    box-sizing: border-box;
  }
}

.user-contacts__list {
  .ul_style();
  margin-top: 42px;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.user-contacts__item {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 371px;
    margin-left: auto;
    margin-right: auto;

    &:first-child {
      margin-right: 71px;
    }
  }
}

.user-contacts__label {
  .label_style();

  @media (min-width: @tablet-width) {
    order: 1;
    margin-left: 62px;
    margin-top: 17px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 12px;
  }
}

.user-contacts__input {
  .input_style();
  width: 256px;

  &:hover {
    outline: none;
    border: 2px solid @color-text-black;
    border-radius: 1px;
  }

  &:focus {
    outline: none;
    border: 2px solid @color-pink;
  }

  @media (min-width: @tablet-width) {
    order: 0;
    width: 496px;
    margin: 0 auto;
  }
}


.user-contacts__heading {
  display: none;

  @media (min-width: @tablet-width) {
    display: table;
    font-size: 14px;
    line-height: 30px;
    color: @color-pink;
    text-transform: uppercase;
  }
}
