.page-main__user-comment {
  min-height: 464px;
  padding-top: 42px;
  box-sizing: border-box;

  fieldset {
    border: none;
  }

  .page-main__heading {
    line-height: 18px;
    color: @color-pink;
    width: 184px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }

  .user-comment__text {
    padding: 22px 25px 22px 20px;
    font-size: 18px;
    line-height: 30px;
    color: @color-text-black;
    border: 2px solid @color-border-grey;
    border-radius: 1px;
    margin-bottom: 52px;
    resize: none;
  }
}

.button {
  width: 276px;
  height: 59px;
  background: @color-green;
  border: 2px solid @color-green;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: @color-white;
  text-transform: uppercase;
}

.page-main__submit {
  margin-bottom: 42px;
}

.page-main__required {
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 66px;

  span {
    color: @color-pink;
  }
}
