.user-repost__container {  // Как расположить button не вырывая из потока?
  background-color: @color-grey;

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;
  }
}

.user-repost__wrapper {
  margin-top: 52px;
  padding-top: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-repost__input-file {
  background-image: url("../img/winter.jpg");
  background-size: cover;
  width: 280px;
  min-height: 374px;
}

.user-repost__filter-list {
  .ul_style();
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    display: inline;
    height: 165px;
  }
}

.user-repost__filter-item {
  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.user-repost__filter-item:nth-child(1) {
  margin: 24px 17px 39px 35px;

  @media (min-width: @tablet-width) {
    margin-left: 11px;
  }
}

.user-repost__filter-item:nth-child(2) {
  margin: 23px 10px 39px 17px;
}

.user-repost__filter-item:nth-child(3) {
  margin: 27px 0 39px 17px;
}

.user-repost-button {
  border: none;
}

.user-repost__range-controls-all {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-repost__line {
  width: 100%;
  height: 1px;
  background: @color-text-black;
  opacity: 0.1;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.user-repost__range-controls {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 21px;
    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
  }
}
