.user-comment {
  @media (min-width: @tablet-width) {
    order: 4;
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 100%;

    .content-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.user-comment__text {
  padding: 13px 25px 5px 20px;
  font-size: 18px;
  line-height: 30px;
  color: @color-text-black;
  border: 2px solid @color-border-grey;
  border-radius: 1px;
  resize: none;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    box-sizing: border-box;
    width: 501px;
    padding: 15px 25px 25px 20px;
    height: 193px;
  }

  @media (min-width: @desktop-width) {
    width: 816px;
    height: 125px;
    padding: 10px 25px 25px 20px;
  }
}

.user-comment__sent-wrapper {
  margin-top: 41px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    justify-content: space-between;
    margin-top: 68px;

    .page-main__required {
      padding-top: 15px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}
