.user-repost-button {
  &:hover .user-repost-button__sprite {
    fill-opacity: 0.5;
  }

  @media (min-width: @tablet-width) {
    svg {
      width: 22px;
      height: 22px;
      fill: @color-pink;
    }
  }

  @media (min-width: @desktop-width) {
    svg {
      width: 44px;
      height: 44px;
    }
  }
}

.user-repost-button__fill {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 23px;
  }
}

.user-repost-button__contrast {
  @media (min-width: @desktop-width) {
    svg {
      width: 33px;
      height: 33px;
    }
  }
}
