.user-contacts__list {
  .ul_style();
  margin-top: 42px;
}

.user-contacts__item {
  display: flex;
  flex-wrap: wrap;
}

.user-contacts__label {
  .label_style();
}

.user-contacts__input {
  .input_style();
  width: 256px;
}
