.user-name {
  min-height: 539px;

  p {
    width: 280px;
    margin: 54px auto 55px auto;
    line-height: 30px;
  }
}

.user-name__form-list {
  .ul_style();

  .user-name__form-item {
    display: flex;
    flex-wrap: wrap;
  }

  .user-name__label {
    .label_style();
  }

  .user-name__input {
    .input_style();
  }
}
