.user-repost__container {
  background-color: @color-grey;

  @media (min-width: @tablet-width) {
    min-height: 515px;
  }

  @media (min-width: @desktop-width) {
    width: 940px;
    margin: 0 auto;

    .user-repost__content-wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: content-box;
    }
  }
}

.user-repost__wrapper {
  margin-top: 42px;
  padding-top: 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    margin-top: 68px;
    padding-top: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px;
  }
}

.user-repost__filter-wrapper {
  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

.user-repost__catalog-button-wrapper {
  padding-top: 38px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 58px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
  }
}

.user-repost__input-file {
  position: relative;
  margin-bottom: 348px;

  & + label::before {
    content: "";
    position: absolute;
    background-image: url("../img/winter.jpg");
    background-size: cover;
    width: 280px;
    height: 374px;
    left: 50%;
    transform: translate(-50%, 0);

    @media (min-width: @tablet-width) {
      transform: translate(-110%, 0);
      width: 300px;
      height: 399px;
      left: 53%;
      top: 51px;
    }

    @media (min-width: @desktop-width) {
      transform: translate(-139%, 0);
    }
  }
}

.user-repost__input-label {
  cursor: pointer;
}

.user-repost__filter-list {
  .ul_style();
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 70px;
  padding: 0 21px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 33px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin-top: 0;
  }
}

.user-repost__filter-item {
  width: 33%;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 454px;
    margin-bottom: 15px;
  }
}

.user-repost-button {
  border: none;

  @media (min-width: @tablet-width) {
    margin-top: -16px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.user-repost__range-controls-all {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-repost__line {
  width: 100%;
  height: 1px;
  background: @color-text-black;
  opacity: 0.1;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    width: 90%;
  }
}

.user-repost__line-first {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.user-repost__line-second {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.user-repost__line-third {
  @media (min-width: @tablet-width) {
    display: block;
    width: 259px;
    margin-left: 38px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-repost__range-controls {
  display: none;
  position: relative;

  @media (min-width: @tablet-width) {
    display: block;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 10px;
  }
}

.user-repost__range-controls-active {
  display: block;
  position: absolute;

  @media (min-width: @tablet-width) {
    position: relative;
  }
}

.user-repost__button-active svg {
  fill: @color-pink;
  fill-opacity: 1;
}
