.user-os {
  min-height: 334px;
  background-color: @color-grey;
  padding-top: 33px;
  box-sizing: border-box;

  fieldset {
    border: none;
    padding: 0;
  }

  @media (min-width: @tablet-width) {
    order: 0;
    width: 100%;
    background-color: @color-white;
    margin-bottom: 31px;
    padding-top: 6px;

    fieldset {
      border: 2px solid @color-border-grey;
      border-radius: 1px;
      margin: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 46%;
    padding-top: 72px;

    .user-os__wrapper {
      width: 100%;
      margin: 0;
      padding: 0;
      box-sizing: content-box;
    }

    fieldset {
      width: 433px;
      box-sizing: border-box;
    }
  }
}

.user-os__heading {
  line-height: 18px;
  color: @color-pink;
  width: 178px;
  text-transform: uppercase;
  margin-bottom: 39px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: @tablet-width) {
    width: 368px;
    margin-bottom: 48px;
  }
}

.user-os__list {
  .ul_style();
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  padding: 0 68px;

  @media (min-width: @tablet-width) {
    padding: 0 120px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 128px;
  }
}

.user-os__item {
  margin-bottom: 45px;

  &:last-child {
    margin-bottom: 44px;
  }

  @media (min-width: @tablet-width) {
    &:last-child {
      margin-bottom: 58px;
    }
  }
}

.user-os__label {
  position: relative;
  font-weight: 300;

  &:hover::before {
    border-color: @color-text-black;
  }

  &:active::before {
    border-color: @color-pink;
  }

  @media (min-width: @tablet-width) {
    font-weight: 300;
  }
}

.user-os__input {
  & + label::before {
    content: "";
    position: absolute;
    width: 37px;
    height: 37px;
    background: @color-white;
    border: 2px solid @color-border-grey;
    border-radius: 50%;
    top: -8px;
    left: -69px;

    @media (min-width: @tablet-width) {
      left: -60px;
    }
  }

  &:checked + label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: @color-pink;
    border-radius: 50%;
    top: 5px;
    left: -56px;

    @media (min-width: @tablet-width) {
      left: -48px;
    }
  }
}
