.user-catalog__list {
  .ul_style();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 36px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-catalog__item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 20px 0;

  @media (min-width: @tablet-width) {
    width: 300px;
    height: 455px;
    margin: 0;
    margin-bottom: 20px;

    &:nth-child(2n + 1) {
      margin-right: 20px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 555px;
    margin-bottom: 56px;

    &:nth-child(2n + 1) {
      margin-right: 0;
    }

    &:not(:nth-child(3n + 3)) {
      margin-right: 20px;
    }
  }
}

.user-catalog__review {
  margin-bottom: -2px;
}

.user-catalog__like {
  width: 13px;
  height: 12px;
  border: none;
  margin-right: 20px;
  margin-top: 3px;
  padding-left: 0;

  @media (min-width: @tablet-width) {
    order: 4;
    align-self: center;
    margin-top: -24px;
  }
}

.user-catalog__like-panorama {
  @media (min-width: @tablet-width) {
    margin-right: 0;
    margin-top: -29px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -9px;
  }
}

.user-catalog__how-much-like {
  margin-top: 0;
  font-size: 12px;
  text-transform: uppercase;
  color: @color-pink;

  @media (min-width: @tablet-width) {
    order: 3;
    align-self: center;
    width: 227px;
  }
}

.user-catalog__how-much-like-panorama {
  @media (min-width: @tablet-width) {
    order: 3;
    align-self: center;
    margin-left: 304px;
    margin-bottom: -4px;
    margin-right: 18px;
    width: auto;
  }

  @media (min-width: @tablet-width) {
    margin-left: 442px;
    margin-top: -18px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 625px;
  }
}

.user-catalog__picture {
  @media (min-width: @tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: @desktop-width) {
    width: 300px;
    height: 400px;

    &:first-child {
      width: 100%;
    }
  }
}

.user-catalog__panorama {
  width: 100%;

  @media (min-width: @tablet-width) {
    height: 509px;
  }

  @media (min-width: @desktop-width) {
    height: 506px;
  }
}

.catalog-review-panorama {
  margin: -10px 0 12px 0;
  width: 280px;
  min-height: 121px;
  padding: 10px 10px 10px 17px;
  text-align: left;
  background-color: @color-grey;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    width: 100%;
    min-height: 125px;
    padding: 18px 29px 10px 29px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    min-height: 99px;
    padding-top: 27px;
  }
}

.user-catalog__panorama-wrapper {
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 89px;
  }
}

.user-catalog__user-name {
  margin-top: 11px;
  font-size: 14px;
  margin-right: 3px;
  margin-bottom: 0;
}

.user-catalog__user-name-panorama {
  @media (min-width: @tablet-width) {
    margin-top: 8px;
    height: 14px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.user-catalog__time {
  align-self: center;

  @media (min-width: @desktop-width) {
    margin-top: -4px;
  }
}

.user-catalog__text {
  margin-top: 0;
  font-weight: 300;

  @media (min-width: @tablet-width) {
    order: 5;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.user-catalog__text-panorama {
  margin-bottom: 11px;
}
